{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<div class="alert alert-success">
  <strong>Бүртгэл амжилттай хийгдлээ!</strong> {{ email }} хаягруу орж бүртгэлээ баталгаажуулна уу!
  <a href="{% url 'home' %}" class="btn btn-primary">Буцах</a> 
</div>