{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">{% trans 'Сургалт засах' %}</h3>
				</div>
				<form method="post">{% csrf_token %}
					<div class="box-body">
						{% if form.non_field_errors %}
					    {% for error in form.non_field_errors %}
					    <div class="alert alert-danger alert-dismissible">
					        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					        <i class="icon fa fa-ban"></i> {{ error }}
					    </div>
					    {% endfor %}
					    {% endif %}
						{{ form }}
					</div>
					<div class="box-footer">
						<div class="pull-right">
							<button type="submit" class="btn btn-success btn-flat">Хадгалах</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}