{% extends 'web/base.html' %}
{% block content %}
<div class="col-md-12">
	<div class="wall">
		<h2 class="title">Форум</h2>
		<div class="wall">
			<form class="form-inline"  method="post">{% csrf_token %}
				{% for f in form %}
				<fieldset class="form-group">
				<label>{{ f.label }}</label>
				{{ f }}	
				</fieldset>
				{% endfor %}
				<button class="btn btn-success" type="submit">Хадгалах</button>
			</form>
		</div>
		<ul>
			{% for room in rooms %}
			<li><a href="{% url 'chat' room.id %}">{{ room }}</a></li><br>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
{% block rightcontent %}
{% endblock %}
{% block footer %}
{%  endblock %}