{% extends 'manager/base.html' %}
{% block sidebar %}
<aside class="main-sidebar">
	<section class="sidebar">
	  <form action="#" method="get" class="sidebar-form">
	    <div class="input-group">
	      <input type="text" name="q" class="form-control" placeholder="Хайх...">
	        <span class="input-group-btn">
	          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
	          </button>
	        </span>
	    </div>
	  </form>
	  <ul class="sidebar-menu">
	    <li class="treeview">
	      <a href="{% url 'manager_home' %}">
	        <i class="fa fa-circle-o text-aqua"></i> <span>Нүүр</span>
	      </a>
	    </li>
	    <li class="active treeview">
	      <a href="#">
	        <i class="fa fa-circle-o text-aqua"></i>
	        <span>Тэмцээн</span>
	        <i class="fa fa-angle-left pull-right"></i>
	      </a>
	      <ul class="treeview-menu">
	        <li class="active"><a href="{% url 'manager_rank' %}"><i class="fa fa-circle-o"></i> Ангилал</a></li>
	        <li><a href="{% url 'manager_competition' %}"><i class="fa fa-circle-o"></i> Үүсгэх</a></li>
	      </ul>
	    </li>
	    <li>
	      <a href="#">
	        <i class="fa fa-circle-o text-aqua"></i>
	        <span>Бүртгэл</span>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <i class="fa fa-circle-o text-aqua"></i>
	        <span>Хэрэглэгчид</span>
	      </a>
	    </li>
	    <li class="treeview">
	      <a href="#">
	        <i class="fa fa-circle-o text-aqua"></i>
	        <span>Мэдээ</span>
	        <i class="fa fa-angle-left pull-right"></i>
	      </a>
	      <ul class="treeview-menu">
	        <li><a href=""><i class="fa fa-circle-o"></i> Мэдээлэл</a></li>
	        <li><a href=""><i class="fa fa-circle-o"></i> Видео</a></li>
	      </ul>
	    </li>
	  </ul>
	</section>
</aside>
{% endblock %}
{% block content %}
<section class="content">
	<div class="row">
		<div class="col-md-6">
		  <div class="box box-danger">
		    <div class="box-header with-border">
		      <h3 class="box-title">Ангилал нэмэх</h3>
		    </div>
		    <form role="form" method="post">{% csrf_token %}
		      <div class="box-body">
		      	{% for f in form %}
		        <div class="form-group">
		        	<label for="exampleInputEmail1">{{ f.label_tag }}</label>
              {{ f }}{{ f.errors }}
		        </div>
		        {% endfor %}
		      </div>
		      <div class="box-footer">
		        <button type="submit" class="btn btn-success btn-flat">Хадгалах</button>
		      </div>
		    </form>
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>
{% endblock %}