{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MONEX</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="" content="">
    {% block css %}
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap-year-calendar-master/css/bootstrap-year-calendar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap-daterange/css/daterangepicker.css' %}">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/css/styles.css" rel="stylesheet">
    <link href="{% static 'assets/admin/dist/css/AdminLTE.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'django_modalview/css/modal.css' %}" type="text/css" />
    
    {% endblock %}
  </head>
</html>
<body class="header-fixed-top">
  {% block header %}{% include 'web/header.html' %}{% endblock %}
  <div class="container">
    <div class="row">
      {% block content %}
      {% endblock %}
      {% block rightcontent %}
      <div class="col-md-4">
        <div class="wall">
          <div id="blog-sidebar" class="blog-sidebar widget-area" role="complementary">
            <div class="sidebar-content">
              <aside class="widget">
                <h3 class="widget-title">{% trans 'Валют \ Хувьцаа' %}</h3>
              </aside>
              
              <aside class="widget">
                <h3 class="widget-title">Хамгийн их уншисан</h3><!-- /.widget-title -->
                {% for m in medee_most %}
                <div class="wall-wall-most">
                  <span class="service-image"><img src="{{ m.img_url }}"></span>
                  <span class="accordion-title"><a href="{% url 'news_self' m.id %}"><h5>{{ m.title|truncatechars:50 }}</h5></a></span>
                  <p>{{ m.remove_html|safe|truncatechars:60 }}</p>
                </div>
                {% endfor %}
              </aside><!-- /.widget -->

              <aside class="widget">
                <h3 class="widget-title">
                  {% trans 'Судалгаа ангилал' %}
                </h3>
                <ul class="archive-list">
                  {% for s in sudalgaa_angilal %}
                  <li><a href="/media/{{ s.pdf_file }}">{{ s.name|truncatechars:40 }}</a></li>
                  {% endfor %}
                </ul>
              </aside>
              {% comment %}
              <aside class="widget">
                <h3 class="widget-title">Mэдээ ангилал</h3><!-- /.widget-title -->
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="nav active"><a href="#A" data-toggle="tab">A</a></li>
                    <li class="nav"><a href="#B" data-toggle="tab">B</a></li>
                    <li class="nav"><a href="#C" data-toggle="tab">C</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="A">Content inside tab A</div>
                    <div class="tab-pane fade" id="B">Content inside tab B</div>
                    <div class="tab-pane fade" id="C">Content inside tab C</div>
                  </div>
                </div>
              </aside>
              {% endcomment %}
              <aside class="widget">
                <h3 class="widget-title">Mэдээ ангилал</h3>
                <ul class="category-list">
                  {% for i in medee_angilal %}
                  <li><a href="{% url 'news' i.id %}">{{ i.name }}</a></li>
                  {% endfor %}
                </ul>
              </aside>
              <aside class="widget">
                <h3 class="widget-title">Сургалт ангилал</h3>
                <ul class="category-list">
                  {% for i in surgalt_angilal %}
                  <li><a href="{% url 'news' i.id %}">{{ i.name }}</a></li>
                  {% endfor %}
                </ul>
              </aside>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}  
    </div>
  </div>
  {% block footer %}
  <div id="scroll-to-top" class="scroll-to-top">
    <span>
      <i class="fa fa-chevron-up"></i>    
    </span>
  </div>
  {% if user.is_authenticated %}
  <a href="{% url 'bagts' %}" data-modal="modalview" class="btn btn-primary btn-flat" id="bagts-button">Багц</a>
  {% endif %}

  {% endblock %}
</body>
{% block js %}
<!--JS--> 
<script src="{% static 'assets/js/jQuery-2.2.0.min.js' %}"></script>
<script src="{% static 'assets/assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/assets/bootstrap-player/bootstrap.youtubepopup.js' %}"></script>
<script src="{% static 'assets/assets/bootstrap-daterange/js/moment.min.js' %}"></script>
<script src="{% static 'assets/assets/bootstrap-daterange/js/daterangepicker.js' %}"></script>
<script src="/static/assets/js/plugins.js"></script>  
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/web.js"></script>

<script type="text/javascript" src="{% static 'django_modalview/js/django_modal_view.js' %}"></script>
<script type="text/javascript" src="{% static 'django_modalview/js/jquery.form.js' %}"></script>

<script type="text/javascript">
  $(function(){
    $('[data-modal="modalview"]').DjangoModalRunner({
      //on_show_modal: function(){
      //},
      //on_hide_modal: function(){
      //},
      //on_hide_modal_after_submit: function(){
      //},
      on_submit: function(){
        //location.reload();
      }
      //on_done: function(){
      //}
    });
  });
  $(function() {
    $.fn.modal.Constructor.DEFAULTS.backdrop = 'static';
  });
</script>
{% endblock %}