{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MONEX</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="" content="">
    {% block css %}
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap-year-calendar-master/css/bootstrap-year-calendar.css' %}">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/css/styles.css" rel="stylesheet">
    {% endblock %}
  </head>
</html>
<body class="header-fixed-top">
  {% block header %}{% include 'web/header.html' %}{% endblock %}
  <div class="container">
    <div class="row">
      {% block content %}
      {% endblock %}
      {% block rightcontent %}
      <div class="col-md-4">
        <div class="wall">
          <div id="blog-sidebar" class="blog-sidebar widget-area" role="complementary">
            <div class="sidebar-content">
              <aside class="widget">
                <h3 class="widget-title">Валют \ Хувьцаа</h3>
              </aside>
              
              <aside class="widget">
                <h3 class="widget-title">Хамгийн их уншисан</h3><!-- /.widget-title -->
                {% for m in medee_most %}
                <div class="wall-wall-most">
                  <span class="service-image"><img src="{{ m.img_url }}" alt="Service Image"></span>
                  <span class="accordion-title"><a href="{% url 'news_self' m.id %}"><h5>{{ m.title|truncatechars:50 }}</h5></a></span>
                  <p>{{ m.remove_html|safe|truncatechars:60 }}</p>
                </div>
                {% endfor %}
              </aside><!-- /.widget -->

              <aside class="widget">
                <h3 class="widget-title">
                  Судалгаа
                </h3><!-- /.widget-title -->
                <ul class="archive-list">
                  {% for s in sudalgaa %}
                  <li><a href="/media/{{ s.pdf_file }}"><i class="fa fa-circle"></i> {{ s.name|truncatechars:40 }}</a></li>
                  {% endfor %}
                </ul>
              </aside><!-- /.widget -->
              {% comment %}
              <aside class="widget">
                <h3 class="widget-title">Mэдээ ангилал</h3><!-- /.widget-title -->
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="nav active"><a href="#A" data-toggle="tab">A</a></li>
                    <li class="nav"><a href="#B" data-toggle="tab">B</a></li>
                    <li class="nav"><a href="#C" data-toggle="tab">C</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="A">Content inside tab A</div>
                    <div class="tab-pane fade" id="B">Content inside tab B</div>
                    <div class="tab-pane fade" id="C">Content inside tab C</div>
                  </div>
                </div>
              </aside>
              {% endcomment %}
              <aside class="widget">
                <h3 class="widget-title">Mэдээ ангилал</h3><!-- /.widget-title -->
                <ul class="category-list">
                  {% for i in medee_angilal %}
                  <li><a href="{% url 'news' i.id %}">{{ i.name }}</a></li>
                  {% endfor %}
                </ul>
              </aside><!-- /.widget -->
            </div>
          </div>
        </div>
      </div>
      {% endblock %}  
    </div>
  </div>
  {% block footer %}
  {% comment %}
  <footer>
    <div id="footer-top" class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <aside class="widget widget_categories" style="margin-bottom: 10px;">
              <h3 class="widget-title" style="margin-bottom: 10px;">Mэдээ ангилал</h3><!-- /.widget-title -->
              <ul class="category-list">
                {% for i in medee_angilal %}
                <li><a href="{% url 'news' i.id %}">{{ i.name }}</a></li>
                {% endfor %}
              </ul>
            </aside><!-- /.widget -->
          </div>
          <div class="col-md-3">
            <aside class="widget widget_archive" style="margin-bottom: 10px;">
              <h3 class="widget-title" style="margin-bottom: 10px;">
                Судалгаа
              </h3><!-- /.widget-title -->
              <ul class="archive-list">
                {% for s in sudalgaa %}
                <li><a href="media/{{ s.pdf_file }}">{{ s.name|truncatechars:50 }}</a></li>
                {% endfor %}
              </ul>
            </aside><!-- /.widget -->
          </div>
          <div class="col-md-6">
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /#footer-top -->
    <div class="footer-bottom">
      copyright
    </div>
  </footer>
  {% endcomment %}
  <div id="scroll-to-top" class="scroll-to-top">
    <span>
      <i class="fa fa-chevron-up"></i>    
    </span>
  </div>
  {% if user.is_authenticated %}
  <section>
    <a href="javascript:;" id="bagts-button">Багц</a>
    <div id="bagts-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="wall">
              <form id="bagts-form" method="post">{% csrf_token %}
                {% for f in form %}
                <fieldset class="form-group">
                  <label>{{ f.label }}</label>
                  {{ f }}
                </fieldset>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% endblock %}
</body>
{% block js %}
<!--JS--> 
<script src="{% static 'assets/js/jQuery-2.2.0.min.js' %}"></script>
<script src="{% static 'assets/assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/assets/bootstrap-player/bootstrap.youtubepopup.js' %}"></script>
<script src="/static/assets/js/plugins.js"></script>  
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/web.js"></script>
{% endblock %}