{% extends 'web/base.html' %}
{% block content %}
<style type="text/css">
	.buttons button{
		margin: -3px;
		border-radius: 0;
		border: 1px;
	}
</style>
<div class="col-md-8">
	<div class="wall">
		<div class="buttons">
			<button class="btn-sm btn-success">AAAAA</button>
			<button class="btn-sm btn-primary">BBBBB</button>
			<button class="btn-sm btn-info">CCCCC</button>
			<button class="btn-sm btn-warning">DDDDD</button>
		</div>
	</div>
	<div class="wall">
		<table class="table">
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}