{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-8">
  <div class="wall">
    <h2 class="title">Онцлох мэдээ</h2>
    <section class="main-slider carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        {% for c in corausel %}
        <div class="item {% if forloop.counter == 1 %}active{% endif %}">
          <img src="{{ c.img_url }}">
          <div class="carousel-caption">
            <a href="#"><h3 class="carousel-title">{{ c.title }}</h3></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
  <section class="wall">
  	<h2 class="title">Мэдээ</h2>
  	{% for m in medee %}
    <div class="wall-wall">
			<span class="service-image"><img src="{{ m.img_url }}" alt="{{ m.img_url }}"></span>
    	<span class="accordion-title"><a href="{% url 'news_self' m.id %}">{{ m.title|truncatechars:60 }}</a></span>
    	<p>{{ m.remove_html|truncatechars:200|safe }}</p>
    </div>
    {% endfor %}
  </section>

  <section class="wall">  
    <h2 class="title">Сургалт</h2>
    <div class="row">
      {% for s in surgalt %}
      <div class="col-md-6">
        <article class="lesson">
          <a class="youtube" href="{{ s.url }}">
            <img src="{{ s.image }}" alt="post Image">
          </a>
          <div class="post-meta">
          	<div class="entry-meta">
              <span class="entry-date">
                <time datetime="2015-01-15">15 Jan 2015</time>
              </span>
              <span class="author-name">
                <a href="#">{{ s.author_name }}</a>
              </span>
            </div><!-- /.entry-meta -->
          </div><!-- /.post-meta -->
        </article>
      </div>
      {% endfor %}
    </div>
	</section>

</div>
{% endblock %}