{% extends 'web/base.html' %}
{% block content %}
{% load pagination_tags %}
{% autopaginate object_list 20 %}
<div class="col-md-8">
	<div class="wall">
		<h2 class="title">Мэдээлэл</h2>
			<div class="row">
			<div class="col-md-3">
				<div class="wall">
				<h3 class="title">Ангилал</h3>
				<ul>
					{% for m in medee_angilal %}
					<li><a>{{ m }}</a></li><br>
					{% endfor %}	
				</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="wall">
					<h3 class="title">Мэдээ</h3>
					{% for m in object_list %}
			    <div class="wall-wall">
						<span class="service-image"><img src="{{ m.img_url }}" alt="{{ m.img_url }}"></span>
			    	<span class="accordion-title"><a href="{% url 'news_self' m.id %}">{{ m.title|truncatechars:60 }}</a></span>
			    	<p>{{ m.remove_html|truncatechars:200|safe }}</p>
			    </div>
			    {% endfor %}
				</div>
				<div class="pull-right">
			    {% paginate %}
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}