{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MONEX</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/admin/dist/css/AdminLTE.css' %}">
  <link rel="stylesheet" href="{% static 'assets/admin/dist/css/skins/_all-skins.min.css' %}">


  <script src="{% static 'assets/js/jQuery-2.2.0.min.js' %}"></script>
  <script src="{% static 'assets/assets/bootstrap/js/bootstrap.min.js ' %}"></script>
  <script src="{% static 'assets/admin/dist/js/app.min.js' %}"></script>
  <script src="{% static 'assets/admin/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'assets/js/core.js' %}"></script>


  <link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="/static/redactor/jquery.redactor.init.js"></script>
  <script type="text/javascript" src="/static/redactor/redactor.js"></script>
  <script type="text/javascript" src="/static/redactor/langs/en.js"></script>
  
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

  {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% block header %}
  <header class="main-header">
    <a href="{% url 'manager_home' %}" class="logo">
      <span class="logo-mini"><b>M</b>EX</span>
      <span class="logo-lg"><b>MONEX</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
            </a>
          </li>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
            </a>
          </li>
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">{{ user }}</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Миний мэдээлэл</a></li>
              <li><a href="">Нууц үг солих</a></li>
              <li><a href="{% url 'manager_logout' %}">Системээс гарах</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  {% endblock %}
  {% block sidebar %}
  <aside class="main-sidebar">
    <section class="sidebar">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Хайх...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <ul class="sidebar-menu">
        <li class="active treeview">
          <a href="{% url 'manager_home' %}">
            <i class="fa fa-circle-o text-aqua"></i> <span>Нүүр</span>
          </a>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-circle-o text-aqua"></i>
            <span>Тэмцээн</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="{% url 'manager_rank' %}"><i class="fa fa-circle-o"></i> Ангилал</a></li>
            <li><a href="{% url 'manager_competition' %}"><i class="fa fa-circle-o"></i> Үүсгэх</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-circle-o text-aqua"></i>
            <span>Бүртгэл</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-circle-o text-aqua"></i>
            <span>Хэрэглэгчид</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-circle-o text-aqua"></i>
            <span>Мэдээ</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'manager_news' %}"><i class="fa fa-circle-o"></i> Мэдээлэл</a></li>
            <li><a href="{% url 'manager_lesson' %}"><i class="fa fa-circle-o"></i> Сургалт</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Судалгаа</a></li>
            <li><a href="{% url 'manager_about' %}"><i class="fa fa-circle-o"></i> Бидний тухай</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
  {% endblock %}
  <div class="content-wrapper">
    {% block content %}
    <section class="content">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>
              <p>Нийт тэмцээн</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>
              <p>Одоо явагдаж байгаа тэмцээн</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>
              <p>Нийт хэрэглэгч</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>
              <p>Тэмцээнд бүртгэгдсэн хэрэглэгч</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </div>
  {% block footer %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b></b>
    </div>
    <strong></strong>
  </footer>
  {% endblock %}
  <div class="control-sidebar-bg"></div>
</div>
</body>
</html>