{% extends 'manager/base.html' %}
{% block content %}
<section class="content">
<div class="row">
<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-body box-profile">

      <h3 class="profile-username text-center">{{ manager.name }}</h3>

      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Э-мэйл</b> <a class="pull-right">{{ manager.email }}</a>
        </li>
      </ul>
      <a href="" class="btn btn-primary btn-block"><b>Засварлах</b></a>
    </div>
  </div>
 </div>
 </div>
 </section>
{% endblock %}