{% extends 'manager/base.html' %}
{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="space10"></div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            Тэмцээн
            <a href="{% url 'manager_competition_create' %}"><i class="fa fa-plus-circle"></i></a>
          </h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>№</th>
                <th>Ангилал</th>
                <th>Эхлэх огноо</th>
                <th>Дуусах огноо</th>
                <th>Дуусах огноо</th>
                <th>Төлөв</th>
              </tr>
            </thead>
            <tbody>
              {% for o in object_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ o.rank.name }}</td>
                <td>{{ o.start|date:"Y-m-d H:i" }}</td>
                <td>{{ o.end|date:"Y-m-d H:i" }}</td>
                <td>{{ o.get_competition_status_display }}</td>
                <td><a href="{% url 'manager_competition_update' o.id %}"><i class="fa fa-edit"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
