{% load i18n %}
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MONEX</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/dist/css/AdminLTE.css' %}">
<link rel="stylesheet" href="{% static 'assets/admin/dist/css/skins/_all-skins.min.css' %}">


<script src="{% static 'assets/js/jQuery-2.2.0.min.js' %}"></script>
<script src="{% static 'assets/assets/bootstrap/js/bootstrap.min.js ' %}"></script>
<script src="{% static 'assets/admin/dist/js/app.min.js' %}"></script>
<script src="{% static 'assets/admin/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>


<link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/redactor/jquery.redactor.init.js"></script>
<script type="text/javascript" src="/static/redactor/redactor.js"></script>
<script type="text/javascript" src="/static/redactor/langs/en.js"></script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h1 class="box-title">{% trans 'Мэдээ ангилал нэмэх' %}</h1>
              </div>
              <form class="form-horizontal" method="post">{% csrf_token %}
                <div class="box-body">
                  <input type="hidden" name="_popup" value="1" />
                  {{ form }}
                </div>
                <div class="box-footer">
                  <div class="pull-right">
                    <button class="btn btn-success btn-flat" type="submit">Хадгалах</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
